In [1]:
from smpl_io import io
import pandas as pd

In [2]:
import os
import sys

sys.path.append(os.path.dirname("/home/apn/git/crosscheck/crosscheck"))

import crosscheck as cc

In [3]:
import crosscheck.recola2

In [4]:
from crosscheck.recola2.recola2 import compute

In [5]:
def mask(ol_df):
    return (ol_df[1] == "2" )&(ol_df[2] == "1" )&(ol_df[3] == "22" )&(ol_df[4] == "2" )&(ol_df[5] == "1" )
    return (ol_df[3] == "22" )

In [6]:
ol_df = pd.read_csv(io.between("START COMP DEBUG","STOP COMP DEBUG",
                       "/home/apn/git/powheg-box-v2/directphotonjj/testrun-lhc/bench-openloops/working/run-st1-xg1-1.log"
                      ),
            header=None,
            delimiter='\s+',
           )

ol_df = ol_df[(ol_df[0] != "Thanks") & (ol_df[0] != "Eur.Phys.J.")]
ol_df= ol_df.set_index(0)
ol_df = ol_df [ mask(ol_df)]
ol_df

,1,2,3,4,5,6,7,8,9,10,...,20,21,22,23,24,25,26,27,28,29
0,,,,,,,,,,,,,,,,,,,,,
2361,2,1,22,2,1,1277.0630968099074,0.0000000000000000,0.0000000000000000,1277.0630968099074,1277.0630968099074,...,124.522527,-195.042588,1235.467758,-829.878591,-517.110575,755.168033,0.118775,0.007297,1.091636e-06,-0.000054
2362,2,1,22,2,1,1118.1527006618642,0.0000000000000000,0.0000000000000000,1118.1527006618639,1118.1527006618642,...,-885.214749,-197.638457,805.559861,-89.324745,794.883506,95.435797,0.118775,0.007297,3.895594e-06,-0.000220
2363,2,1,22,2,1,1504.3855775232751,0.0000000000000000,0.0000000000000000,1504.3855775232751,1504.3855775232751,...,241.991581,-575.111406,1239.655387,-847.814715,683.863100,591.850443,0.118775,0.007297,4.651473e-07,-0.000020
2364,2,1,22,2,1,1550.3565080483311,0.0000000000000000,0.0000000000000000,1550.3565080483309,1550.3565080483311,...,-516.464717,404.342194,1125.700057,-179.338944,1110.918523,-29.969945,0.118775,0.007297,1.037161e-06,-0.000083
2365,2,1,22,2,1,1152.6566637723770,0.0000000000000000,0.0000000000000000,1152.6566637723770,1152.6566637723768,...,-527.951650,-253.301050,715.211822,-686.175033,-121.497597,161.028287,0.118775,0.007297,5.822525e-07,-0.000024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9803,2,1,22,2,1,261.29711523431541,0.0000000000000000,0.0000000000000000,261.29711523431570,261.29711523431490,...,13.779879,4.885408,253.662514,8.433648,-46.921180,-249.142425,0.158404,0.007297,8.869999e-01,-19.549580
9843,2,1,22,2,1,135.13189894360497,0.0000000000000000,0.0000000000000000,135.13189894360494,135.13189894360497,...,-15.454645,-93.945888,45.647175,-20.253174,30.443802,-27.324868,0.153075,0.007297,1.930322e-03,0.027316
9883,2,1,22,2,1,141.87205877902511,0.0000000000000000,0.0000000000000000,141.87205877902511,141.87205877902511,...,-17.734316,1.050368,130.288645,2.705465,-32.789932,-126.065981,0.146556,0.007297,6.790471e-02,0.462261
9923,2,1,22,2,1,4073.9548099526455,0.0000000000000000,0.0000000000000000,4073.9548099526455,4073.9548099526455,...,-690.287079,-3923.530396,2835.392616,-487.047677,755.885384,2689.028288,0.102690,0.007297,9.094257e-07,0.000009
9963,2,1,22,2,1,5025.3499745261634,0.0000000000000000,0.0000000000000000,5025.3499745261634,5025.3499745261634,...,-38.313626,1821.835764,4828.634811,55.206797,-2391.357593,-4194.529200,0.085030,0.007297,6.888460e-06,0.000042

In [7]:
test_df = ol_df[0:2]
test_df = test_df.rename(columns={1: 'in_1', 2: 'in_2',3:'out_1',4:'out_2', 5:'out_3'})
test_df = test_df.rename(columns={6:  'p_1_0',  7: 'p_1_1', 8:'p_1_2', 9:'p_1_3'})
test_df = test_df.rename(columns={10: 'p_2_0', 11: 'p_2_1',12:'p_2_2',13:'p_2_3'})
test_df = test_df.rename(columns={14: 'p_3_0', 15: 'p_3_1',16:'p_3_2',17:'p_3_3'})
test_df = test_df.rename(columns={18: 'p_4_0', 19: 'p_4_1',20:'p_4_2',21:'p_4_3'})
test_df = test_df.rename(columns={22: 'p_5_0', 23: 'p_5_1',24:'p_5_2',25:'p_5_3'})
test_df

,in_1,in_2,out_1,out_2,out_3,p_1_0,p_1_1,p_1_2,p_1_3,p_2_0,...,p_4_2,p_4_3,p_5_0,p_5_1,p_5_2,p_5_3,26,27,28,29
0,,,,,,,,,,,,,,,,,,,,,
2361,2,1,22,2,1,1277.0630968099074,0.0000000000000000,0.0000000000000000,1277.0630968099074,1277.0630968099074,...,124.522527,-195.042588,1235.467758,-829.878591,-517.110575,755.168033,0.118775,0.007297,0.000001,-0.000054
2362,2,1,22,2,1,1118.1527006618642,0.0000000000000000,0.0000000000000000,1118.1527006618639,1118.1527006618642,...,-885.214749,-197.638457,805.559861,-89.324745,794.883506,95.435797,0.118775,0.007297,0.000004,-0.000220

In [ ]:
compute(test_df)
test_df

In [ ]:
print(test_df['A0'].to_numpy().astype(float))
print(test_df['A1'].to_numpy().astype(float))

In [ ]:
i=0
with open('/home/apn/tmp/virt_uu_acc/SubProcesses/P0_uux_accx/PS.input', 'w') as f:
    print( ol_df[6][i],ol_df[7][i],ol_df[8][i],ol_df[9][i],file=f)
    print( ol_df[10][i],ol_df[11][i],ol_df[12][i],ol_df[13][i],file=f)
    print( ol_df[14][i],ol_df[15][i],ol_df[16][i],ol_df[17][i],file=f)
    print( ol_df[18][i],ol_df[19][i],ol_df[20][i],ol_df[21][i],file=f)
    print( ol_df[22][i],ol_df[23][i],ol_df[24][i],ol_df[25][i],file=f)

In [ ]:
fc_df= pd.read_csv(io.between("START COMP DEBUG","STOP COMP DEBUG",
                       "/home/apn/git/powheg-box-v2/directphotonjj/testrun-lhc/bench-formcalc/working/run-st1-xg1-1.log"),
            header=None,
            delimiter='\s+',
           )
fc_df = fc_df[(fc_df[0] != "Thanks") & (fc_df[0] != "Eur.Phys.J.")]  
fc_df= fc_df.set_index(0)  
fc_df = fc_df [mask(fc_df)]
fc_df

In [ ]:
(abs(((ol_df[26]-fc_df[26])/fc_df[26]))).plot(figsize=(20,5),logy=True) # LO

In [ ]:
ol_df.index[abs(((ol_df[26]-fc_df[26])/fc_df[26]))>10e-9]

In [ ]:
abs(((ol_df[27]-fc_df[27])/fc_df[27])).plot(figsize=(20,5),logy=True) # Virt